<!DOCTYPE html>
<html>
  <head>
    <title>Voters</title>
   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script type="text/javascript" 
    src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> 
   <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
   <script src="//code.jquery.com/jquery-1.9.1.js"></script>
   <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
   <link rel="stylesheet" href="/resources/demos/style.css">
 
<script type="text/javascript">
$(document).ready(function() {
  $('#circle_bounce').hover(function() {
      $( "#circle_bounce" ).toggle( "bounce", { times: 1 }, "slow" );
  });
});
  $(function() {
    $( document ).tooltip();
  });
 
   function voteme(param) { 
            var objmsg = document.getElementById("votes"+param);
              $.post("/vote/"+param,function (data) {
                    if (data.notice !='undefined')
                        alert(data.msg);
                    else if (data.notice !='undefined')
                        alert(data.notice);
                    else
                         alert(data.err);

               });
   }
 function loginsucessfull(data){
    alert(JSON.stringify(data))
 }
 $('.container_pms').center();
 </script>
  </head>
    <body>
    <div class="main-div">
        <div id="fb-root"></div>
        <script type="text/javascript" src="JS/fb.js"></script>
        <script src="http://connect.facebook.net/en_US/all.js" type="text/javascript"></script>

        <script>

            // Init the SDK upon load
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '564097210354318', // App ID 225481757617266 final app id  564097210354318
                    channelUrl: '//' + window.location.hostname + '/channel', // Path to your Channel File
                    status: true, // check login status
                    cookie: true, // enable cookies to allow the server to access the session
                    xfbml: true  // parse XFBML

                });
            };
            // Load the SDK Asynchronously

            (function (d) {
                var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement('script'); js.id = id; js.async = true;
                js.src = "//connect.facebook.net/en_US/all.js";
                ref.parentNode.insertBefore(js, ref);
            }(document));


            function login() {

                FB.login(function (response) {
                    // if (response.authResponse) {
                    //'/me',

                    FB.api('/me', function (response) {

                        if (response.name) {
                            //alert(Object.keys(response));

                            var picture = "http://graph.facebook.com/" + response.id + "/picture";
                            var name = response.name;;
                            var email = response.email;
                             
                            if (email == undefined) {
                                alert("Please allow access to email.");
                                FB.logout(function () {
                                    window.location.reload();
                                    alert('Allow access to your facebook email id');
                                });
                            }
                            else {
                                   var parameter_data = JSON.parse('{"name": "'+name+'", "email": "'+email+'", "picture": "'+picture+'" }');

                                   $.post('/register',parameter_data,function (d) {
                                                                        loginsucessfull(d);
                                   });
                                  
                            }
                        }
                        // }

                    })

                }, { scope: 'email' });
            }
        </script>
         <div id="btnfblogin" class="btn-facebook" onclick="login()">Sign In with Facebook</div> 
         <div class="containerImages">
             <ul id="new_ul">
              <%Users.forEach(function(user) {%>
             <li><img title='<%=user.DisplayName%>' src="<%=user.ProfilePic+"?type=large"%>"></li>
              <%});%>
             </ul>
        
         </div>
         <div id="circle_bounce" class="circle" title="Please Vote me."></div>
              <div class="container_pms">
   <% Pms.forEach(function(g) { %> 
       <div class="list_pms" onclick="voteme('<%=g._id%>')"><%=g.Name%> <span id="votes<%=g._id%>"><%=g.Votes%></span>  </div> 
  <% }); %>
        </div>
 
    <script src="http://esupporters.herokuapp.com/socket.io/socket.io.js"></script>
     <script>
      var socket = io.connect('http://esupporters.herokuapp.com');
      socket.on('time', function (data) {
        $('.server_time').html(data.date);
       // socket.emit('my other event', { my: 'data' });
        //  $('.names').html(data.User.DisplayName);
         // $('.sockimg').attr('src',data.User.ProfilePic+"?type=large");
          $('#new_ul').prepend("<li><img title="+data.User.DisplayName+" src="+data.User.ProfilePic+?type=large+"></li>");
        });
      
      </script>
     <div class="server_time">time</div>
     <div class="names">names</div>
     <img class="sockimg" src=""/>
   
   </div>  
</body>
</html>